/dts-v1/;
/ {
    chosen {
        xlnx,eeprom = &macaddr_eeprom;  // Link to the EEPROM node
    };

    /* EEPROM on Reference Design board for storing MAC Address */
    macaddr_eeprom: eeprom@58 {  // Correct I2C address 0x58
        compatible = "i2c-eeprom", "microchip,24aa025e48t", "atmel,24c01";
        reg = <0x58>;  // I2C address of the EEPROM
        pagesize = <16>;
        size = <256>;  // EEPROM size
        address-width = <8>;
        num-addresses = <1>;  // Only one chip in this case

        nvmem-cells = <&mac_address_cells>;  // Reference the NVMEM cell for mac address
        nvmem-cell-names = "mac-address";    // Name of the cell
    };

    nvmem {
        mac_address_cells: mac_address@9A {
            compatible = "nvmem-cell";
            reg = <0x9A 0x06>;  // Read 6 bytes from 0x9A in EEPROM for MAC address
            nvmem-name = "mac-address";
        };
    };
};
