echo "Starting EEPROM MAC read..."
i2c dev 0          # Select I2C bus 0
i2c read 0x58 0x9a 6 mac_addr  # Read 6 bytes starting at 0x9A into memory
#setexpr ethaddr fmt "%02x:%02x:%02x:%02x:%02x:%02x" ${mac_addr:0:1} ${mac_addr:1:1} ${mac_addr:2:1} ${mac_addr:3:1} ${mac_addr:4:1} ${mac_addr:5:1}
env import -t mac_addr:6 ethaddr  # Set ethaddr from the read MAC address
echo "MAC address set: ${ethaddr}"
